[Unit]
Description=My webpp
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/home/ec2-user/webapp  
ExecStartPre=source venv/bin/activate
ExecStart=/usr/bin/make runserver
Restart=always

[Install]
WantedBy=multi-user.target